@model ASPNET_Core_2_1.Models.QuestionDetailandAndQuestion
@{
    ViewData["Title"] = "QuestionList";
}



<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css" crossorigin="anonymous">

    <title>Question List</title>
</head>
<body>
    
    <form class="m-t" role="form" asp-action="CreateQuestion">
        <div class="form-group">
            <input asp-for="Title" type="text" class="form-control" placeholder="Question Title" required="">
        </div>
        <div class="form-group">
            <input asp-for="Content" type="text" class="form-control" placeholder="Question Content" required="">
        </div>
        <div class="form-group">
            <input asp-for="Tag" type="text" class="form-control" placeholder="Question Tag" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Ask Question</button>

    </form>
        


    <ul>
        @foreach (var data in Model.QuestionList.Data)
        {

            <div class="jumbotron">
                <h1><a asp-action="QuestionDetail" asp-controller="QnA" asp-route-id=@data.QuestionId>@data.Title</a></h1>

                <p class="lead">@data.Content</p>
                <a class="btn btn-lg btn-success" role="button">@data.UpvoteCount</a>
                <a class="btn btn-lg btn-danger" role="button">@data.DownvoteCount</a>
            </div>
           
        }
    </ul>
</body>
</html>